In [14]:
class Category:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        self.no_of_products = 0

class Product:
    def __init__(self, name, code, category, price):
        self.name = name
        self.code = code
        self.category = category
        self.price = price

category1 = Category("Electronics", "E001")
category2 = Category("Clothing", "C002")
category3 = Category("Books", "B003")
# Create 10 different Product objects
products = [
    Product("Laptop", "P001", category1, 1200),
    Product("Smartphone", "P002", category1, 800),
    Product("T-shirt", "P003", category2, 25),
    Product("Jeans", "P004", category2, 40),
    Product("pen", "P005", category3, 15),
    Product("Textbook", "P006", category3, 50),
    # Add more products here
]

In [15]:

for product in products:
    product.category.no_of_products += 1

In [16]:

categories = [category1, category2, category3]
for category in categories:
    print(f"Category: {category.name}, Code: {category.code}, No. of Products: {category.no_of_products}")

Category: Electronics, Code: E001, No. of Products: 2
Category: Clothing, Code: C002, No. of Products: 2
Category: Books, Code: B003, No. of Products: 2

In [17]:
# Sort and print products based on price (High to Low)
sorted_products_high_to_low = sorted(products, key=lambda x: x.price, reverse=True)
print("\nProducts Sorted by Price (High to Low):")
for product in sorted_products_high_to_low:
    print(f"Product: {product.name}, Code: {product.code}, Price: ${product.price}")

# Sort and print products based on price (Low to High)
sorted_products_low_to_high = sorted(products, key=lambda x: x.price)
print("\nProducts Sorted by Price (Low to High):")
for product in sorted_products_low_to_high:
    print(f"Product: {product.name}, Code: {product.code}, Price: ${product.price}")

Products Sorted by Price (High to Low):
Product: Laptop, Code: P001, Price: $1200
Product: Smartphone, Code: P002, Price: $800
Product: Textbook, Code: P006, Price: $50
Product: Jeans, Code: P004, Price: $40
Product: T-shirt, Code: P003, Price: $25
Product: pen, Code: P005, Price: $15

Products Sorted by Price (Low to High):
Product: pen, Code: P005, Price: $15
Product: T-shirt, Code: P003, Price: $25
Product: Jeans, Code: P004, Price: $40
Product: Textbook, Code: P006, Price: $50
Product: Smartphone, Code: P002, Price: $800
Product: Laptop, Code: P001, Price: $1200

In [18]:
# Search product using its code
search_code = "P003"  # Replace with the desired product code
found_product = None
for product in products:
    if product.code == search_code:
        found_product = product
        break

if found_product:
    print("\nProduct Found:")
    print(f"Product: {found_product.name}, Code: {found_product.code}, Price: ${found_product.price}")
else:
    print("\nProduct not found with the given code.")

Product Found:
Product: T-shirt, Code: P003, Price: $25

In [20]:
#==============================================

In [32]:
class Product:
    def __init__(self, name, price):
        self.name = name
        self.price = price

class Category:
    def __init__(self, code, parent=None):
        self.code = code
        self.parent = parent
        self.display_name = self.generate_display_name()
        self.products = []

    def generate_display_name(self):
        if self.parent:
            return f"{self.parent.display_name} > {self.code}"
        else:
            return self.code

def display_category_with_products(category):
    print(f"Category Code: {category.code}")
    print(f"Display Name: {category.display_name}")
    print("Products:")
    for product in category.products:
        print(f" - {product.name}, Price: {product.price}")
    print()

def display_products_by_category(categories):
    categories.sort(key=lambda x: x.display_name)
    for category in categories:
        display_category_with_products(category)

In [34]:
# Create categories
vehicle_category = Category("Vehicle")
car_category = Category("Car", parent=vehicle_category)
petrol_category = Category("Petrol", parent=car_category)
# Create products
product1 = Product("Sedan", 25000)
product2 = Product("SUV", 30000)
product3 = Product("Hatchback", 20000)
# Assign products to categories
vehicle_category.products = [product1, product2, product3]
car_category.products = [product2, product3]
petrol_category.products = [product3]
# Display categories with products
categories = [vehicle_category, car_category, petrol_category]
for category in categories:
    display_category_with_products(category)

Category Code: Vehicle
Display Name: Vehicle
Products:
 - Sedan, Price: 25000
 - SUV, Price: 30000
 - Hatchback, Price: 20000

Category Code: Car
Display Name: Vehicle > Car
Products:
 - SUV, Price: 30000
 - Hatchback, Price: 20000

Category Code: Petrol
Display Name: Vehicle > Car > Petrol
Products:
 - Hatchback, Price: 20000

In [35]:
# Display products grouped by category
display_products_by_category(categories)

Category Code: Vehicle
Display Name: Vehicle
Products:
 - Sedan, Price: 25000
 - SUV, Price: 30000
 - Hatchback, Price: 20000

Category Code: Car
Display Name: Vehicle > Car
Products:
 - SUV, Price: 30000
 - Hatchback, Price: 20000

Category Code: Petrol
Display Name: Vehicle > Car > Petrol
Products:
 - Hatchback, Price: 20000

In [36]:
#================================================